.heartbeat-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart {
  width: 70%;
  height: 70%;
  background-color: #ff6b6b;
  position: relative;
  transform: rotate(45deg);
  animation: heartbeat 1.2s infinite;
}

.heart:before,
.heart:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 50%;
  position: absolute;
}

.heart:before {
  top: -50%;
  left: 0;
}

.heart:after {
  top: 0;
  left: -50%;
}

@keyframes heartbeat {
  0% {
    transform: rotate(45deg) scale(0.8);
  }
  5% {
    transform: rotate(45deg) scale(0.9);
  }
  10% {
    transform: rotate(45deg) scale(0.8);
  }
  15% {
    transform: rotate(45deg) scale(1);
  }
  50% {
    transform: rotate(45deg) scale(0.8);
  }
  100% {
    transform: rotate(45deg) scale(0.8);
  }
}