.spinner-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  position: relative;
}

.spinner-blade {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12%;
  height: 30%;
  border-radius: 50%/20%;
  transform-origin: 50% 150%;
  animation: spinner-fade 1s linear infinite;
}

@keyframes spinner-fade {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
}