.circle-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-loader-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle-loader .circle {
  position: absolute;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
}

.circle-loader .outer {
  width: 100%;
  height: 100%;
}

.circle-loader .inner {
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}